.swiper {
    width: 240px;
    height: 320px;
}

.swiper-slide {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    
    font-weight: bold;
    color: #fff;
    border: 1px solid rgb(94, 82, 82);
}

.bg-text {
    position: absolute;
    bottom: 1.3rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    
}