
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


h1, h2, h3, h4, h5, h6, p, span, div {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

._3zPD8 {
  position: relative !important;
}

._3rQt2 {
  position: absolute !important;
  right: 10px !important;
  top: -40px !important;
}


body {
  font-family: "Fira Sans", Arial, sans-serif;
}

.select-none {
  user-select: none;
}

header{
  max-width: 100%!important;
}



 /* Disable scrolling on number input */
 input[type="number"]::-webkit-inner-spin-button,
 input[type="number"]::-webkit-outer-spin-button {
     -webkit-appearance: none;
     margin: 0;
 }

 input[type="number"] {
     -moz-appearance: textfield; /* Firefox */
 }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.select-none {
  user-select: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* custom-scrollbar.css */

/* Set the width of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Customize the thumb (scrollbar handle) */
::-webkit-scrollbar-thumb {
  background-color: #cbd5e0;
  border-radius: 3px;
}

/* Customize the track (scrollbar background) */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Hide scrollbar for elements with the "scrollbar-hidden" class */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Optional: Hide scrollbar for Firefox */
.scrollbar-hidden {
  scrollbar-width: none;
}


.error-img{
  background-image: url('./assets/images/Error/error-img.jpg');
}



/* trasnparent webkit  */


input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

*{
  -webkit-tap-highlight-color: transparent;
}